In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('summary.csv')

In [3]:
df = df[['IIP ID','Text Genre','City Name', 'Language', 'Terminus ante quem', 'Terminus post quem',
         'Region', 'Likely religion', 'Material']]
df = df.dropna(subset=['Terminus ante quem'])

# 1. Text Genre

In [4]:
df['Text Genre'].value_counts()

funerary.epitaph                      882
dedicatory                            853
funerary                              758
label                                 385
text_other                            319
text_unknown                          305
legal.receipt                         206
commodity_chit                        179
document                              152
graffiti                              126
label.ownership                       106
financial                              60
prayer                                 53
label.weight                           45
verse                                  40
invocation                             33
honorific                              29
dedicatory.offering                    24
place_marker.boundary                  23
building                               19
acclamation                            18
magic                                  18
dedicatory.votive                      11
place_marker.milestone                 10
legal                                   9
label label.ownership                   9
label.token                             9
abecedary                               7
dedicatory.imperial                     6
funerary.malediction                    4
funerary.epitaph magic                  4
dedicatory legal                        2
calendar                                2
place_marker place_marker.boundary      2
dedicatory verse                        2
malediction                             2
invocation graffiti                     1
dedicatory building                     1
legal legal.receipt                     1
prophecy                                1
text_other graffiti                     1
place_marker                            1
building verse                          1
funerary dedicatory                     1
dedicatory Quotation                    1
list                                    1
Quotation                               1
magic magic.apotropaic                  1
building text_other                     1
funerary magic abecedary                1
label.sundial                           1
magic.apotropaic                        1
label text_unknown                      1
Name: Text Genre, dtype: int64

In [5]:
# Text Genre
df['Text Genre'].value_counts()
df['Text Genre'] = df['Text Genre'].replace(['dedicatory quotation', 'dedicatory verse', 'dedicatory.imperial',
                                            'dedicatory.offering', 'dedicatory.votive', 'honorific',
                                            'dedicatory Quotation', 'dedicatory building'],'dedicatory')

In [6]:
df['Text Genre'] = df['Text Genre'].replace(['funerary.malediction', 'funerary.epitaph', 'funerary magic',
                                            'funerary dedicatory', 'funerary.epitaph magic', 'funerary magic abecedary'],
                                            'funerary')

In [7]:
df['Text Genre'] = df['Text Genre'].replace(['graffiti funerary', 'text_other graffiti', 'invocation graffiti'],'graffiti')

In [8]:
df['Text Genre'] = df['Text Genre'].replace(['label label.ownership', 'label text_unknown', 'label.ownership',
                                            'label.sundial', 'label.token', 'label.weight'],'label')

In [9]:
df['Text Genre'] = df['Text Genre'].replace(['legal', 'legal legal.receipt', 'legal.receipt', 'list',
                                            'financial', 'commodity_chit', 'dedicatory legal'],'legal/economic')

In [10]:
df['Text Genre'] = df['Text Genre'].replace(['place_marker place_marker.boundary',
                                            'place_marker.boundary', 'place_marker.milestone'],'place_marker')

In [11]:
df['Text Genre'] = df['Text Genre'].replace(['prayer', 'invocation'],'invocation/prayer')

In [12]:
df['Text Genre'] = df['Text Genre'].replace(['prophecy', 'signature', 'text_other', 'text_unknown',
                                            'verse', 'abecedary', 'acclamation', 'building', 'calendar', 'magic',
                                            'magic magic.apotropaic', 'magic.apotropaic', 'malediction', 'building verse',
                                            'building text_other', 'building text_other', 'Quotation'],
                                            'other/unkown')

In [13]:
df['Text Genre'] = df['Text Genre'].replace(['document', 'graffiti', 'invocation/prayer', 'place_marker'],
                                            'other/unkown')

In [14]:
df['Text Genre'].value_counts()

funerary          1650
other/unkown      1138
dedicatory         927
label              556
legal/economic     458
Name: Text Genre, dtype: int64

In [15]:
df['Text_Genre'] = df['Text Genre']
del df['Text Genre']

# 2. City Name

In [16]:
df['City'] = df['City Name']
del df['City Name']

In [17]:
df['City'].value_counts()

Idumea           526
Jerusalem        507
Masada           497
Zoora            453
Maresha          412
                ...
Beerot Yishaq      1
Beit Surik         1
Beit Sha'ar        1
Beit Safafa        1
Gophna             1
Name: City, Length: 244, dtype: int64

In [18]:
df.loc[(df.City != 'Jerusalem'),'City']='Other'

In [19]:
df['City'].value_counts()

Other        4228
Jerusalem     507
Name: City, dtype: int64

# 3. Language

In [20]:
df['Language'].value_counts()

Greek         2447
Aramaic       1646
Hebrew         380
Latin          226
Phoenician      22
Armenian         4
Other            3
Georgian         3
Syriac           2
Name: Language, dtype: int64

In [21]:
df['Language'] = df['Language'].replace(['Phoenician', 'Armenian', 'Georgian', 'Syriac', 'x-unknown'],'Other')

In [22]:
df['Language'].value_counts()

Greek      2447
Aramaic    1646
Hebrew      380
Latin       226
Other        34
Name: Language, dtype: int64

# 4. Region

In [23]:
df['Region'].value_counts()

Judaea           1602
Negev            1192
Coastal Plain     622
Galilee           544
Samaria           410
Golan             140
Jordan Valley     100
Sinai              44
Syria              42
Jordan             20
Unknown            15
Costal Plain        1
Golan Heights       1
Ma'on Nirim         1
Galillee            1
Name: Region, dtype: int64

In [24]:
df['Region'] = df['Region'].replace(['Jordan Valley'],'Jordan')

In [25]:
df['Region'] = df['Region'].replace(['Syria', 'Sinai', 'Unknown', "Ma'on Nirim","Galillee",
                                    "Costal Plain"],'Other')

In [26]:
df['Region'] = df['Region'].replace(['Golan Heights'],'Golan')

In [27]:
df['Region'].value_counts()

Judaea           1602
Negev            1192
Coastal Plain     622
Galilee           544
Samaria           410
Golan             141
Jordan            120
Other             104
Name: Region, dtype: int64

# 5. Religion

In [28]:
df['Religion'] = df['Likely religion']
del df['Likely religion']

In [29]:
df['Religion'].value_counts()

jewish              1962
other_religion      1314
christian            994
unknown_religion     453
unknown                7
Name: Religion, dtype: int64

In [30]:
df['Religion'] = df['Religion'].replace(['unknown_religion'],'unknown')

In [31]:
df['Religion'].value_counts()

jewish            1962
other_religion    1314
christian          994
unknown            460
Name: Religion, dtype: int64

# 6. Material

In [32]:
df['Material'].value_counts()

clay                1404
stone                874
limestone            344
marble               321
stone.other          258
material_unknown     249
metal                 60
plaster               52
stone glass           35
stone.marble          28
lead                  17
material_other        14
bone                  12
stone.unknown          9
glass                  3
stone.limestone        3
kurkar                 3
granite                3
Lead                   2
stone clay             1
Name: Material, dtype: int64

In [33]:
df['Material'] = df['Material'].replace(['stone glass', 'stone.marble', 'lead', 'material_other', 'bone', 'stone.unknown',
                                        'glass', 'kurkar', 'stone.limestone', 'granite', 'Lead', 'stone clay'],'Other')
df["Material"] = df["Material"].replace(["stone.other"], "stone")

In [34]:
df['Material'].value_counts()

clay                1404
stone               1132
limestone            344
marble               321
material_unknown     249
Other                130
metal                 60
plaster               52
Name: Material, dtype: int64

In [35]:
df['Time_before'] = df['Terminus ante quem']
del df['Terminus ante quem']
df['Time_after'] = df['Terminus post quem']
del df['Terminus post quem']

In [36]:
sum(df['Time_after'] - df['Time_before'] < 10)

1289

# Select dataframe where the date is known

In [37]:
df_final = df[(df['Time_after'] - df['Time_before']) == 0]

In [38]:
df_final["Time"] = df_final['Time_after']

C:\Users\daiki\AppData\Local\Temp\ipykernel_8088\1335595941.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_final["Time"] = df_final['Time_after']

In [39]:
df_final.head()

,IIP ID,Language,Region,Material,Text_Genre,City,Religion,Time_before,Time_after,Time
166,idum0020,Aramaic,Negev,clay,legal/economic,Other,unknown,-354.0,-354.0,-354.0
679,masa0796,Greek,Judaea,clay,label,Other,other_religion,26.0,26.0,26.0
682,masa0795,Greek,Judaea,clay,label,Other,other_religion,27.0,27.0,27.0
897,mger0128,Aramaic,Samaria,stone,dedicatory,Other,jewish,-400.0,-400.0,-400.0
1166,mogh0001,Greek,Coastal Plain,marble,other/unkown,Other,unknown,515.0,515.0,515.0

In [40]:
del df_final['Time_before']
del df_final['Time_after']

In [41]:
df_final.to_csv('Exact_data1.csv', index=False)

In [42]:
del df_final["IIP ID"]

In [43]:
df_final = pd.get_dummies(df_final)

In [44]:
df_final.head()

,Time,Language_Aramaic,Language_Greek,Language_Latin,Language_Other,Region_Coastal Plain,Region_Galilee,Region_Golan,Region_Jordan,Region_Judaea,...,Text_Genre_funerary,Text_Genre_label,Text_Genre_legal/economic,Text_Genre_other/unkown,City_Jerusalem,City_Other,Religion_christian,Religion_jewish,Religion_other_religion,Religion_unknown
166,-354.0,1,0,0,0,0,0,0,0,0,...,0,0,1,0,0,1,0,0,0,1
679,26.0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
682,27.0,0,1,0,0,0,0,0,0,1,...,0,1,0,0,0,1,0,0,1,0
897,-400.0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,1,0,0
1166,515.0,0,1,0,0,1,0,0,0,0,...,0,0,0,1,0,1,0,0,0,1

In [45]:
df_final.to_csv('Exact_data.csv', index=False)